:root {
  --gray-12: rgba(5, 5, 5, 0.12);
  --terminal-purple: #300a24;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
}

.Toastify__close-button {
  top: 50%;
  transform: translateY(-50%);
}

.Toastify__toast {
  min-height: 20px;
}
